---
http_interactions:
- request:
    method: get
    uri: https://sandbox.familysearch.org/.well-known/app-meta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - /.well-known/app-meta
      X-Processing-Time:
      - '4'
      Content-Type:
      - application/x-fs-v1+json
    body:
      encoding: UTF-8
      string: |-
        {
          "links" : {
            "person-change-summary-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/change-summary{?access_token}",
              "type" : "application/atom+xml,application/json,application/x-gedcomx-atom+json,application/xml,text/html",
              "accept" : "*/*",
              "allow" : "GET",
              "title" : "Person Change Summary"
            },
            "memory-personas-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}/personas{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET,POST",
              "title" : "Personas"
            },
            "person-notes-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/notes{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET,POST",
              "title" : "Notes"
            },
            "couple-relationship-note-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/couple-relationships/{crid}/notes/{nid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET,POST,DELETE",
              "title" : "Note"
            },
            "person-restore-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/restore{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "POST",
              "title" : "Restore"
            },
            "couple-relationship-source-reference-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/couple-relationships/{crid}/source-references/{srid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "DELETE",
              "title" : "Source Reference"
            },
            "source-description-template" : {
              "template" : "https://sandbox.familysearch.org/platform/sources/descriptions/{sdid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Source Description"
            },
            "child-and-parents-relationship-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/child-and-parents-relationships/{caprid}{?access_token,persons}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Child-and-Parents Relationship"
            },
            "discussions" : {
              "href" : "https://sandbox.familysearch.org/platform/discussions/discussions",
              "title" : "Discussions"
            },
            "child-and-parents-relationship-conclusion-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/child-and-parents-relationships/{caprid}/{role}/conclusions/{cid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "DELETE",
              "title" : "FamilySearch Conclusion"
            },
            "couple-relationship-conclusion-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/couple-relationships/{crid}/conclusions/{cid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "DELETE",
              "title" : "Conclusion"
            },
            "spouse-relationships-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/spouse-relationships{?access_token,persons}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET",
              "title" : "Person Spouse Relationships"
            },
            "person-discussion-references-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/discussion-references{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "GET,POST",
              "title" : "Discussion References"
            },
            "ancestry-query" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/ancestry{?access_token,generations,marriageDetails,person,personDetails,spouse}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "*/*",
              "allow" : "GET",
              "title" : "Ancestry"
            },
            "memory-persona-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}/personas/{pid}{?access_token}",
              "type" : "*/*",
              "accept" : "*/*",
              "allow" : "DELETE",
              "title" : "Persona"
            },
            "user-collections" : {
              "href" : "https://sandbox.familysearch.org/platform/sources/collections",
              "title" : "User-Defined Collections"
            },
            "current-user" : {
              "href" : "https://sandbox.familysearch.org/platform/users/current",
              "title" : "Current User"
            },
            "discussion-template" : {
              "template" : "https://sandbox.familysearch.org/platform/discussions/discussions/{did}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Discussion"
            },
            "memory-comments-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}/comments{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "GET,POST",
              "title" : "Comments"
            },
            "person-portrait-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/portrait{?access_token,default}",
              "type" : "*/*",
              "accept" : "*/*",
              "allow" : "GET",
              "title" : "Person Memories Portrait"
            },
            "discussion-comments-template" : {
              "template" : "https://sandbox.familysearch.org/platform/discussions/discussions/{did}/comments{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "GET,POST",
              "title" : "Comments"
            },
            "memory-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Artifact Description"
            },
            "person-source-reference-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/source-references/{srid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "DELETE",
              "titl[...]
- request:
    method: get
    uri: https://api-user-1241:1782@sandbox.familysearch.org/identity/v2/login?dataFormat=application/json&key=WCQY-7J1Q-GKVV-7DNM-SQ5M-9Q5H-JX3H-CMJK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      App-Svr-Id:
      - 100.-30
      X-Processing-Time:
      - '948'
      Content-Type:
      - application/json;charset=utf-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"statusMessage":"OK","status":null,"deprecated":null,"version":"2.7.20131212.2323","authentication":null,"session":{"id":"USYSA971649A2FE056D891E17E7DABCDB12F_idses-int01.a.fsglobal.net","type":null}}'
  recorded_at: Wed, 05 Feb 2014 04:32:04 GMT
- request:
    method: get
    uri: https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USYSA971649A2FE056D891E17E7DABCDB12F_idses-int01.a.fsglobal.net
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 03 Sep 2012 00:03:41 GMT
      Etag:
      - '"d8272c1258ae57e62f307364e3896a6a938fb84e"'
      Content-Location:
      - /platform/tree/persons/KWQX-52J
      X-Processing-Time:
      - '120'
      Content-Type:
      - application/x-fs-v1+json
    body:
      encoding: UTF-8
      string: |-
        {
          "links" : {
            "collection" : {
              "href" : "https://sandbox.familysearch.org/platform/collections/tree",
              "title" : "Collection"
            }
          },
          "persons" : [ {
            "id" : "KWQX-52J",
            "links" : {
              "ancestry" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/ancestry?person=KWQX-52J",
                "title" : "Ancestry"
              },
              "fs-child-relationships" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/fs-child-relationships",
                "title" : "FamilySearch Person Relationships"
              },
              "person" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J",
                "title" : "Person"
              },
              "descendancy" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/descendancy?person=KWQX-52J",
                "title" : "Descendancy"
              },
              "discussion-references" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/discussion-references",
                "title" : "Discussion References"
              },
              "person-with-relationships" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons-with-relationships?person=KWQX-52J",
                "title" : "Person With Relationships"
              },
              "change-history" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/changes",
                "title" : "Change History"
              },
              "evidence-references" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/memory-references",
                "title" : "Persona References"
              },
              "fs-parent-relationships" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/fs-parent-relationships",
                "title" : "FamilySearch Person Relationships"
              },
              "spouse-relationships" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/spouse-relationships",
                "title" : "Person Spouse Relationships"
              },
              "child-relationships" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/child-relationships",
                "title" : "Person Child Relationships"
              },
              "portrait" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/portrait",
                "title" : "Person Memories Portrait"
              },
              "parent-relationships" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/parent-relationships",
                "title" : "Person Parent Relationships"
              },
              "source-references" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/source-references",
                "title" : "Source References"
              },
              "matches" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/matches",
                "title" : "Person Matches"
              },
              "notes" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/notes",
                "title" : "Notes"
              }
            },
            "identifiers" : {
              "http://gedcomx.org/Persistent" : [ "https://sandbox.familysearch.org/ark:/61903/4:1:KWQX-52J" ]
            },
            "living" : false,
            "gender" : {
              "id" : "V.777-777P",
              "links" : {
                "conclusion" : {
                  "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/conclusions/V.777-777P",
                  "title" : "Conclusion"
                }
              },
              "confidence" : "http://gedcomx.org/Low",
              "type" : "http://gedcomx.org/Female"
            },
            "names" : [ {
              "id" : "V.777-777L",
              "links" : {
                "conclusion" : {
                  "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/conclusions/V.777-777L",
                  "title" : "Conclusion"
                }
              },
              "confidence" : "http://gedcomx.org/Low",
              "type" : "http://gedcomx.org/BirthName",
              "nameForms" : [ {
                "fullText" : "Olive Amanda Smith",
                "parts" : [ {
                  "type" : "http://gedcomx.org/Given",
                  "value" : "Olive Amanda"
                }, {
                  "type" : "http://gedcomx.org/Surname",
                  "value" : "Smith"
                } ]
              } ],
              "preferred" : true
            } ],
            "facts" : [ {
              "id" : "V.777-7774",
              "links" : {
                "conclusion" : {
                  "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/conclusions/V.777-7774",
                  "title" : "Conclusion"
                }
              },
              "confidence" : "http://gedcomx.org/Low",
              "type" : "http://gedcomx.org/Birth",
              "date" : {
                "original" : "18 Sep 1825",
                "formal" : "+1825-09-18",
                "normalized" : [ {
                  "value" : "18 September 1825"
                } ]
              },
              "place" : {
                "original" : "WF, O, NewYork"
              }
            }, {
              "id" : "V.777-7771",
              "links" : {
                "conclusion" : {
                  "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/conclusions/V.777-7771",
                  "title" : "Conclusion"
                }
              },
              "confidence" : "http://gedcomx.org/Low",
              "type" : "http://gedcomx.org/Burial",
              "date" : {
                "original" : "18 Mar 1885",
                "formal" : "+1885-03-18",
                "normalized" : [ {
                  "value" : "18 March 1885"
                } ]
              },
              "place" : {
                "original" : "Orangeville, Emery, Utah, United States",
                "description" : "#-879160347",
                "normalized" : [ {
                  "value" : "Orangeville, Emery, Utah, United States"
                } ]
              }
            }, {
              "id" : "V.777-777H",
              "links" : {
                "conclusion" : {
                  "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQX-52J/conclusions/V.777-777H",
                  "title" : "Conclusion"
                }
              },
              "confidence" : "http://ge[...]
