---
http_interactions:
- request:
    method: get
    uri: https://sandbox.familysearch.org/.well-known/app-meta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Location:
      - /.well-known/app-meta
      X-Processing-Time:
      - '4'
      Content-Type:
      - application/x-fs-v1+json
    body:
      encoding: UTF-8
      string: |-
        {
          "links" : {
            "person-change-summary-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/change-summary{?access_token}",
              "type" : "application/atom+xml,application/json,application/x-gedcomx-atom+json,application/xml,text/html",
              "accept" : "*/*",
              "allow" : "GET",
              "title" : "Person Change Summary"
            },
            "memory-personas-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}/personas{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET,POST",
              "title" : "Personas"
            },
            "person-notes-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/notes{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET,POST",
              "title" : "Notes"
            },
            "couple-relationship-note-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/couple-relationships/{crid}/notes/{nid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET,POST,DELETE",
              "title" : "Note"
            },
            "person-restore-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/restore{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "POST",
              "title" : "Restore"
            },
            "couple-relationship-source-reference-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/couple-relationships/{crid}/source-references/{srid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "DELETE",
              "title" : "Source Reference"
            },
            "source-description-template" : {
              "template" : "https://sandbox.familysearch.org/platform/sources/descriptions/{sdid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Source Description"
            },
            "child-and-parents-relationship-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/child-and-parents-relationships/{caprid}{?access_token,persons}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Child-and-Parents Relationship"
            },
            "discussions" : {
              "href" : "https://sandbox.familysearch.org/platform/discussions/discussions",
              "title" : "Discussions"
            },
            "child-and-parents-relationship-conclusion-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/child-and-parents-relationships/{caprid}/{role}/conclusions/{cid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "DELETE",
              "title" : "FamilySearch Conclusion"
            },
            "couple-relationship-conclusion-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/couple-relationships/{crid}/conclusions/{cid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "DELETE",
              "title" : "Conclusion"
            },
            "spouse-relationships-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/spouse-relationships{?access_token,persons}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "GET",
              "title" : "Person Spouse Relationships"
            },
            "person-discussion-references-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/discussion-references{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "GET,POST",
              "title" : "Discussion References"
            },
            "ancestry-query" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/ancestry{?access_token,generations,marriageDetails,person,personDetails,spouse}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "*/*",
              "allow" : "GET",
              "title" : "Ancestry"
            },
            "memory-persona-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}/personas/{pid}{?access_token}",
              "type" : "*/*",
              "accept" : "*/*",
              "allow" : "DELETE",
              "title" : "Persona"
            },
            "user-collections" : {
              "href" : "https://sandbox.familysearch.org/platform/sources/collections",
              "title" : "User-Defined Collections"
            },
            "current-user" : {
              "href" : "https://sandbox.familysearch.org/platform/users/current",
              "title" : "Current User"
            },
            "discussion-template" : {
              "template" : "https://sandbox.familysearch.org/platform/discussions/discussions/{did}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Discussion"
            },
            "memory-comments-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}/comments{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "GET,POST",
              "title" : "Comments"
            },
            "person-portrait-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/portrait{?access_token,default}",
              "type" : "*/*",
              "accept" : "*/*",
              "allow" : "GET",
              "title" : "Person Memories Portrait"
            },
            "discussion-comments-template" : {
              "template" : "https://sandbox.familysearch.org/platform/discussions/discussions/{did}/comments{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml",
              "allow" : "GET,POST",
              "title" : "Comments"
            },
            "memory-template" : {
              "template" : "https://sandbox.familysearch.org/platform/memories/memories/{mid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "HEAD,GET,POST,DELETE",
              "title" : "Artifact Description"
            },
            "person-source-reference-template" : {
              "template" : "https://sandbox.familysearch.org/platform/tree/persons/{pid}/source-references/{srid}{?access_token}",
              "type" : "application/json,application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml,application/xml,text/html",
              "accept" : "application/x-fs-v1+json,application/x-fs-v1+xml,application/x-gedcomx-v1+json,application/x-gedcomx-v1+xml",
              "allow" : "DELETE",
              "titl[...]
- request:
    method: get
    uri: https://api-user-1241:1782@sandbox.familysearch.org/identity/v2/login?dataFormat=application/json&key=WCQY-7J1Q-GKVV-7DNM-SQ5M-9Q5H-JX3H-CMJK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      App-Svr-Id:
      - 100.-30
      X-Processing-Time:
      - '887'
      Content-Type:
      - application/json;charset=utf-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"statusCode":200,"statusMessage":"OK","status":null,"deprecated":null,"version":"2.7.20131212.2323","authentication":null,"session":{"id":"USYS78204257ACECE5DB19A1FDBE2A17AA22_idses-int02.a.fsglobal.net","type":null}}'
  recorded_at: Wed, 05 Feb 2014 04:32:09 GMT
- request:
    method: get
    uri: https://sandbox.familysearch.org/platform/tree/search?q=givenName:John%20surname:Smith%20gender:male
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USYS78204257ACECE5DB19A1FDBE2A17AA22_idses-int02.a.fsglobal.net
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Fs-Page-Context:
      - AQATNjAxNDEwNTMxMjg4MDA0OTI0OAAAAAZTdmTrAAE8YAA=
      X-Processing-Time:
      - '393'
      Content-Type:
      - application/x-gedcomx-atom+json
    body:
      encoding: UTF-8
      string: |-
        {
          "results" : 9,
          "index" : 0,
          "links" : {
            "next" : {
              "href" : "https://sandbox.familysearch.org/platform/tree/search?context=AQATNjAxNDEwNTMxMjg4MDA0OTI0OAAAAAZTdmTrAAE8YAA%3D&start=9",
              "title" : "Person Search"
            },
            "self" : {
              "href" : "https://sandbox.familysearch.org/platform/tree/search?q=givenName:John+surname:Smith+gender:male",
              "title" : "Person Search"
            },
            "collection" : {
              "href" : "https://sandbox.familysearch.org/platform/collections/tree",
              "title" : "Collection"
            },
            "first" : {
              "href" : "https://sandbox.familysearch.org/platform/tree/search?context=AQATNjAxNDEwNTMxMjg4MDA0OTI0OAAAAAZTdmTrAAE8YAA%3D&start=0",
              "title" : "Person Search"
            }
          },
          "subtitle" : "Results of searching for persons.",
          "title" : "Person Search Results",
          "entries" : [ {
            "content" : {
              "gedcomx" : {
                "persons" : [ {
                  "id" : "KWQQ-6WN",
                  "links" : {
                    "person" : {
                      "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQQ-6WN",
                      "title" : "Person"
                    }
                  },
                  "living" : false,
                  "gender" : {
                    "type" : "http://gedcomx.org/Male"
                  },
                  "names" : [ {
                    "type" : "http://gedcomx.org/BirthName",
                    "nameForms" : [ {
                      "fullText" : "John Smith"
                    } ]
                  } ],
                  "facts" : [ {
                    "type" : "http://gedcomx.org/Birth",
                    "date" : {
                      "original" : "16 July 1781"
                    },
                    "place" : {
                      "original" : "Manchester, Hillsborough, New Hampshire, United States"
                    }
                  }, {
                    "type" : "http://gedcomx.org/Burial",
                    "date" : {
                      "original" : "May 1854"
                    },
                    "place" : {
                      "original" : "Salt Lake City, Salt Lake, Utah, United States"
                    }
                  }, {
                    "type" : "http://gedcomx.org/Death",
                    "date" : {
                      "original" : "23 May 1854"
                    },
                    "place" : {
                      "original" : "Salt Lake City, Salt Lake, Utah, United States"
                    }
                  } ],
                  "display" : {
                    "name" : "John Smith",
                    "gender" : "Male",
                    "birthDate" : "16 July 1781",
                    "birthPlace" : "Manchester, Hillsborough, New Hampshire, United States",
                    "deathDate" : "23 May 1854",
                    "deathPlace" : "Salt Lake City, Salt Lake, Utah, United States"
                  }
                }, {
                  "id" : "KWQQ-69M",
                  "links" : {
                    "person" : {
                      "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQQ-69M",
                      "title" : "Person"
                    }
                  },
                  "living" : false,
                  "gender" : {
                    "type" : "http://gedcomx.org/Female"
                  },
                  "names" : [ {
                    "type" : "http://gedcomx.org/BirthName",
                    "nameForms" : [ {
                      "fullText" : "Julia Ellis Hills"
                    } ]
                  } ],
                  "facts" : [ {
                    "type" : "http://gedcomx.org/Marriage",
                    "date" : {
                      "original" : "11 September 1815"
                    }
                  } ],
                  "display" : {
                    "name" : "Julia Ellis Hills",
                    "gender" : "Female"
                  }
                } ],
                "relationships" : [ {
                  "type" : "http://gedcomx.org/Couple",
                  "person1" : {
                    "resource" : "https://sandbox.familysearch.org/platform/tree/persons/KWQQ-6WN",
                    "resourceId" : "KWQQ-6WN"
                  },
                  "person2" : {
                    "resource" : "https://sandbox.familysearch.org/platform/tree/persons/KWQQ-69M",
                    "resourceId" : "KWQQ-69M"
                  }
                } ]
              }
            },
            "id" : "KWQQ-6WN",
            "score" : 511.7471,
            "confidence" : 5,
            "links" : {
              "person" : {
                "href" : "https://sandbox.familysearch.org/platform/tree/persons/KWQQ-6WN",
                "title" : "Person"
              }
            },
            "title" : "Person KWQQ-6WN (John Smith)"
          }, {
            "content" : {
              "gedcomx" : {
                "persons" : [ {
                  "id" : "KW3B-NRV",
                  "links" : {
                    "person" : {
                      "href" : "h[...]
